<div class="container m-5 mx-auto px-5">
  <div class="card text-center shadow-lg">
    <div class="card-header">
      Music 3IT
    </div>
    <div class="card-body">
      <h5 class="card-title">Aplicativo de encuesta musical</h5>
      <p class="card-text">Selecciona alguna opción</p>
      <a href="/encuesta" class="btn btn-primary custom my-3">Comenzar encuesta</a><br>
      <a href="estadisticas" class="btn btn-primary custom my-3 ">Estadisticas</a><br>
      <a href="nosotros" class="btn btn-primary custom my-3 ">Aserca de</a>
    </div>
    <div class="card-footer text-muted">
      2022
    </div>
  </div>
  </div>
